# While loop
- initialization to start
- incerment to decrement
- condition to stop

< inintialization>

while<condition>

     =====pyton

    increment/decrement

In [1]:
i = 1
while i<10:
    print(i,end = " ")
    i = i+1

1 2 3 4 5 6 7 8 9

In [2]:
i = 1
while i <= 9:
    print(i,end = " ")
    i = i+1

1 2 3 4 5 6 7 8 9

In [3]:
i = 1
while i<3:
    print(i,end = " ")
    i = i+1

# Step`-1: i = 1 while 1<3 True print(1)  i = 1+1 = 2
    
# Step`-1: i = 2 while 2<3 True print(1)  i = 1+1 = 3
    
# Step`-1: i = 3 while 3<3 False

1 2

In [5]:
# Q1) print 1 to 10
# Q2) print(10 to 1)
# Q3) print(-1 to -10)
# Q4) print(-10 to -1)

In [6]:
# Q1) print 1 to 10

i = 1
while i<11:
    print(i,end = " ")
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [7]:
# Q2) print(10 to 1)

i = 10
while i>0:
    print(i,end = " ")
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [11]:
# Q3) print(-1 to -10)

i = -1
while i>(-11):
    print(i,end = " ")
    i = i-1

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [19]:
# Q4) print(-10 to -1)

i = -10

while i < 0:
    print(i, end = " ")
    i = i+1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [18]:
# Q4) print(-10 to -1)

i = -10
while True:
    print(i,end = " ")
    i = i+1
    if i == 0:
        break

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [20]:
for i in range(-1,-11,-1):
    if i>= -10:
        print(i, end = " ")

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [21]:
# Q4) print(-10 to -1)

i = -10
while True:
    print(i)
    i = i+1
    if i == 0:
        break

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1