# Session_19 : Dictionary

In [5]:
names = ['Ramesh','Suresh','Satish']
age = [20,25,30]

print(f"{names[0]} age is {age[0]}")
print(f"{names[1]} age is {age[1]}")
print(f"{names[2]} age is {age[2]}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [6]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

## Zip

In [14]:
names = ['Ramesh','Suresh','Satish']
age = [20,25,30]

# zip(names,age)

for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Satish', 30)

In [16]:
names = ['Ramesh','Suresh','Satish']
age = [20,25,30]

# zip(names,age)

for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [15]:
names = ['Ramesh','Suresh','Satish']
age = [20,25,30]
# zip(names,age)

for i,j in zip(names,age):    
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

### Dictionary
- in above example names and age both are together
- when both are together we can pair them
- this can happen using dictionary
- dictioanry is called as **key-value** pair
- it represents with curly braces : **{Key : value}**
- Ramesh and 20 years both are pair : **{Ramesh : 20}**

In [18]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [20]:
d2 = {20:'Ramesh', 25:'Suresh', 30:'Satish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Satish'}

In [24]:
d3 = {4:5, ("Ramesh",50):80}
d3

{4: 5, ('Ramesh', 50): 80}

In [36]:
d4 = {('ramesh','suresh'):[30]}
d4

{('ramesh', 'suresh'): [30]}

### - Important point
- if keys are same it will takes latest value
- dictionary kind databases
- dictioanry does not allow duplicated
- in dictioanry keys can not be duplicate but values can be duplicate

In [28]:
d5 = {'Ramesh':20,'Ramesh':30}
d5

{'Ramesh': 30}

In [29]:
d6 = {'Ramesh':20,'Ramesh':20}
d6

{'Ramesh': 20}

In [30]:
d7 = {'Ramesh':20,'Suresh':20}
d7

{'Ramesh': 20, 'Suresh': 20}

In [32]:
d8 = d7 = {20:'Ramesh',30:'Suresh'}
d8

{20: 'Ramesh', 30: 'Suresh'}

In [34]:
d9 = {True:'true'}
d9

{True: 'true'}

- **list** as keys fails bcz list has a mutable behavior
- **tuple** as keys work bcz list has a immutable behavior
- **Dictinary** as keys fails bcz list has a mutable behavior

In [39]:
d10 = {'fruits':['Apple','Banana']}  # work
d10 = {'fruits':('Apple','Banana')}  # work
d10 = {'fruits':{'Apple','Banana'}}  # work
d10

{'fruits': {'Apple', 'Banana'}}

In [42]:
d11 = {['Apple','Banana'] : 'fruits'} # not work     # Mutable
d11 = {('Apple','Banana') : 'fruits'}  # work        # Immutable
d11 = {{'Apple','Banana'} : 'fruits'} # not work     # mutable
d11

TypeError: unhashable type: 'list'

## Apply min max sorted reversed

In [71]:

dict1 = {'Apple':20,'Banana':30, 'cherry':50}
dict2 = {'Apple':20, 'apple':30}
dict3 = {20:'Apple',30:'Banana',50:'Cherry'}

In [69]:
dict1 = {'Apple':20,'Banana':30, 'cherry':50}

min(dict1)

'Apple'

In [45]:
max(dict1)

'cherry'

In [46]:
sorted(dict1)

['Apple', 'Banana', 'cherry']

In [51]:
reversed(dict1)

In [74]:
dict(reversed(dict1))

ValueError: dictionary update sequence element #0 has length 6; 2 is required

In [70]:
list(reversed(dict1))

['cherry', 'Banana', 'Apple']

In [54]:
dict2 = {'Apple':20, 'apple':30}
min(dict2)

'Apple'

In [55]:
max(dict2)

'apple'

In [56]:
sorted(dict2)

['Apple', 'apple']

In [59]:
dict(reversed(dict2))

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [66]:
list(reversed(dict2))

['apple', 'Apple']

In [60]:
dict3 = {20:'Apple',30:'Banana',50:'Cherry'}
min(dict3)

20

In [61]:
max(dict3)

50

In [62]:
sorted(dict3)

[20, 30, 50]

In [64]:
dict(reversed(dict3))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [65]:
list(reversed(dict3))

[50, 30, 20]

In [88]:

dict1 = {'Apple':20,'Banana':30, 'cherry':50}
dict2 = {'Apple':20, 'apple':30}
dict3 = {20:'Apple',30:'Banana',50:'Cherry'}

'Apple' in dict1 ,  20 in dict1

(True, False)

In [79]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [82]:
for i in dict1:
    print(i)

Apple
Banana
cherry

In [86]:
for i in range(len(dict1)):
    print(dict1[i])

KeyError: 0

## index

In [90]:
dict1 = {'Apple':20,'Banana':30, 'cherry':50}
dict1[0]

KeyError: 0

## KeyError

In [ ]:
- How to extract the value in dictionary we have concept key:value pair 
- key are very very important 
- in order to get the value we need to take key help

In [95]:
dict1 = {'Apple':20,'Banana':30, 'Cherry':50}

dict1['Apple'],dict1['Banana'],dict1['Cherry']

(20, 30, 50)

In [101]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [104]:
# names = ['Ramesh','Suresh','Satish']
# age = [20,25,30]

names = {'Ramesh':20,'Suresh':25,'Satish':30}
for i in names:    
    print(f'{i} age is {names[i]}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [105]:
for key in names:
    value = names[key]
    print(f'{key} age is {value}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [107]:
d = {'Fruits':['Apple','Banana','Cherry']}   # get Cherry

d['Fruits'][2]

'Cherry'

In [110]:
d = {'Fruits':{'Apple':['Sweet','Sour','Greeen']}}   #  Green 

d['Fruits']['Apple'][2]

'Greeen'

In [115]:
d = {'Fruits':[{'Cost':[50]}]}

d['Fruits'][0]['Cost'][0]

50

In [118]:
d = {'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}

d['Cost'][0]['1kg'][2]

40

In [119]:
d = {'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}

d['Cost'][0]['2kg']

In [138]:
d = {'Fruits':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Sambaji'}}}}}}}

d['Fruits']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Sambaji'}

### How to create an empty dictionary 
- Now onwords focus on creation of empty list , string
- we will take empty list will use append operation
- we will take empty string will use concatenation
- we will take empty dictionary will use **key : value** pair

In [141]:
# list
l = []
l.append(10)
l.append(20)
l

[10, 20]

In [142]:
# String

s = ''
s = s+'p'
s = s+'y'
s

'py'

In [145]:
# Dictionary

d = {}
d['Ramesh'] = 20
d['Suresh'] = 30
d

{'Ramesh': 20, 'Suresh': 30}

## How to convert list to dictionary

In [149]:
names = ['Ramesh','Suresh','Satish']
age = [20,30,40]
d = {}
for i,j in zip(names,age):
    d[i] = j
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

## Dictioanry comprehension
- for list comprehension we should write everything inside list
- for dictionary comprehension we should write everything inside dictionary

In [157]:
names = ['Ramesh','Suresh','Satish']
age = [20,30,40]

{i:j  for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

## mutable - immutable
- lists are mutable
- dictionary are mutable
- string immutable
- tuple immutable
- in dictionary we can change the value using key

In [160]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d['Ramesh'] = 28
d

{'Ramesh': 28, 'Suresh': 30, 'Satish': 40}

## methods
- 'clear',
- 'copy',
- 'fromkeys',
- 'get',
- 'items',
- 'keys',
- 'pop',
- 'popitem',
- 'setdefault',
- 'update',
- 'values']

### Assignment

- clear
- copy
- keys
- values
- items

In [164]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Mahesh': 28}

In [168]:
# copy
dict1.copy()
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Mahesh': 28}

In [170]:
# Clear
dict1.clear()
dict1

{}

In [1]:
# keys

dict1 = {'Ramesh':20, 'Suresh':25,'Satish':30, 'Mahesh':28}
dict1.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish', 'Mahesh'])

In [4]:
key = dict1.keys()
type(key)

dict_keys

In [5]:
# i got mistaken i am assuming this is list type
key.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

In [172]:
#values
dict1.values()

dict_values([20, 25, 30, 28])

In [180]:
dict1 = {'Ramesh':20, 'Suresh':{25:80}, 'Satish':30, 'Mahesh':28}
dict1.values()

dict_values([20, {25: 80}, 30, 28])

In [182]:
# items

dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
dict1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Satish', 30), ('Mahesh', 28)])

## Convert dictionary to list
- in order to convert to list
- first we need to seperate keys and value
- then apply list **type casting**

In [7]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
keys = dict1.keys()
keys_list = list(keys)
keys_list

['Ramesh', 'Suresh', 'Satish', 'Mahesh']

In [11]:
keys_list.count('Ramesh')

1

In [ ]:
list ======== string     -> using join
string ====== list      -> using split
list ======== dict    -> using zip
dict ======== list   -> using typecasting

In [8]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
values = dict1.values()
values_list = list(values)
values_list

[20, 25, 30, 28]

In [9]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
items = dict1.items()
items_list = list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30), ('Mahesh', 28)]

In [16]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit','ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

input_str = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

emails = input_str.split(';')

fname = []
sname = []
cname = []

for email in emails:
    name, domain = email.split('@')  
    first, second = name.split('.')  
    company = domain.split('.')[0]
    
    fname.append(first)
    sname.append(second)
    cname.append(company)

print("fname =", fname)
print("sname =", sname)
print("cname =", cname)

fname = ['virat', 'rohit', 'ms']
sname = ['kohli', 'sharma', 'dhoni']
cname = ['rcb', 'mi', 'csk']

In [28]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

# {first_name : ['virat','rohit','ms']
# second_name : ['kohli','sharma','dhoni']
# cname : ['rcb','mi','csk']}

emails = input.split(';')
emails

first_name = []
second_name = []
cname = []
d = {}
for email in emails:
    name, domain = email.split('@')  
    first, second = name.split('.')  
    company = domain.split('.')[0]
    
    first_name.append(first)
    second_name.append(second)
    cname.append(company)

d['first_name'] = first_name
d['second_name'] = second_name
d['cname'] = cname
d

{'first_name': ['virat', 'rohit', 'ms'],
 'second_name': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [31]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

l1 = input.split(';')


first_name = []
second_name = []
cname = []
d = {}
for i in l1:
    first_dot= i.index('.')
    second_dot = i.index('.')
    at_the_rate = i.index('@')

    first_name.append(i[:first_dot])
    second_name.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])

d['first_name'] = first_name
d['second_name'] = second_name
d['cname'] = cname
d

{'first_name': ['virat', 'rohit', 'ms'],
 'second_name': ['kohli', 'sharma', 'dhoni'],
 'cname': ['', '', '']}

In [ ]:
# today everone in the class
# take word document
# write classroom questions
# and show me tomorrow

In [32]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'pop',
 'popitem'

## pop
- D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
- If the key is not found, return the default if given; otherwise, raise a KeyError.

In [38]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
dict1.pop('Ramesh')

20

In [39]:
dict1

{'Suresh': 25, 'Satish': 30, 'Mahesh': 28}

## popitem

In [40]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
dict1.popitem()

('Mahesh', 28)

In [41]:
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [47]:
l1 = ['Ramesh','Satish','rahul']
l1.remove('Ramesh')
l1

['Satish', 'rahul']

In [49]:
l1 = ['Ramesh','Satish','rahul']
l1.pop()
l1

['Ramesh', 'Satish']

- ### **pop** in dictionary , similar is **remove** list
- ### **popitem** in dictionary , similar is **pop** list

# **get**

In [51]:
dict1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
dict1.get('Ramesh')

20

In [52]:
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Mahesh': 28}

In [54]:
dict1['Ramesh']    # Keys as a index of dictionary

20

# update
- update is similar analogy **list extend**
- take two dictionary and update method
- **update** in dictioanry is similar analogy list **extend**

In [56]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d2 = {'Fname':'Bhupendra','Sname':'Abhi','Cname':'DS'}

d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Satish': 30,
 'Mahesh': 28,
 'Fname': 'Bhupendra',
 'Sname': 'Abhi',
 'Cname': 'DS'}

In [58]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d2 = {'Fname':'Bhupendra','Sname':'Abhi','Cname':'DS'}

d2.update(d1)
d2

{'Fname': 'Bhupendra',
 'Sname': 'Abhi',
 'Cname': 'DS',
 'Ramesh': 20,
 'Suresh': 25,
 'Satish': 30,
 'Mahesh': 28}

In [59]:
l1 = ['Ramesh','Satish','rahul']
l2 = ['Bhupendra','Singh',25]
l1.extend(l2)

In [60]:
l1

['Ramesh', 'Satish', 'rahul', 'Bhupendra', 'Singh', 25]

In [61]:
l2

['Bhupendra', 'Singh', 25]

In [64]:
l1 = ['Ramesh','Satish','rahul']
l2 = ['Bhupendra','Singh',25]
l2.extend(l1)
l2

['Bhupendra', 'Singh', 25, 'Ramesh', 'Satish', 'rahul']

## setdefault
- suppose an already existed dictionary avilable
- we can update the dictionary  with new **key : value** pair
- **setdefault** in dictioanry is similar analogy **list append**
- it never involves index operations
- we have get method to extract value using key

In [68]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d1.setdefault('Maneesh')
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Mahesh': 28, 'Maneesh': None}

In [72]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d1.setdefault('Maneesh',32)
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'Mahesh': 28, 'Maneesh': 32}

## fromkeys
- create a dictioanry with different keys but same value
- fromkey will take an arguments **iterable**
- try to provide an iterator  i.e. string list,tuple

In [76]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d1.fromkeys(d1,'NareshIt')

{'Ramesh': 'NareshIt',
 'Suresh': 'NareshIt',
 'Satish': 'NareshIt',
 'Mahesh': 'NareshIt'}

In [77]:
d = {}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [81]:
d = {}
d.fromkeys('Mohan',(30,90))

{'M': (30, 90), 'o': (30, 90), 'h': (30, 90), 'a': (30, 90), 'n': (30, 90)}

In [82]:
d1 = {'Ramesh':20, 'Suresh':25, 'Satish':30, 'Mahesh':28}
d1.fromkeys(d1,[10,20,30,])

{'Ramesh': [10, 20, 30],
 'Suresh': [10, 20, 30],
 'Satish': [10, 20, 30],
 'Mahesh': [10, 20, 30]}

- **pop** in dictionary , similar is **remove** list
- **popitem** in dictionary , similar is **pop** list
- **get** in dictionary ,similar analogy **list index**
- **update** in dictionary ,similar analogy **list extend**
- **setdefault** in dictionary ,similar analogy **list append**
    -  but dictioanry does not have **count**
    -  bcz dictioanry does not allow **duplicate**

In [ ]:
# take the word documents
# basic python
# till today dictioanry