# List Comprehension

- list comprehension a way to write a list operations  in a single line
- when we apply for loop and if-else coditional statements then the code compilation become slow
-  which means it takes much time
-  in oreder to avoid the time complexity we will use list comprehension
-  list comporehension is single line code

## Case-1: only **for loop**

In [1]:
list1 = []
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#list1 = [<code should write here> ]
# inside code No need of append
#list1 = [ <output var>   < for loop> ]

list1 = [i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Q1) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

# Q2) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [21]:
# Q1) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

input = ['hyd', 'bengaluru', 'pune', 'mumbai']

output = [i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [22]:
# Q2) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

input = ['hyd', 'bengaluru', 'pune', 'mumbai']

output = [i.upper() for i in input]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [26]:
# Q3) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
# multiply the index with 10

# idea: get the indexes list first
#   then multiply with 10

input = ['hyd', 'bengaluru', 'pune', 'mumbai']

for i in input:
    print(input.index(i)*10)

0
10
20
30

In [29]:

input = ['hyd', 'bengaluru', 'pune', 'mumbai']
[input.index(i)*10  for i in input]

[0, 10, 20, 30]

In [30]:
# Q4) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
# calculate the sum of index

input = ['hyd', 'bengaluru', 'pune', 'mumbai']

input = ['hyd', 'bengaluru', 'pune', 'mumbai']
output = [input.index(i)  for i in input]
sum(ouput)

60

## walrus operator

In [32]:
summ = 0
[summ = summ+i  for i in range(1,11)]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3661996471.py, line 2)

In [34]:
summ = 0
[summ := summ+i  for i in range(1,11)]     # ':=' instead of '='
summ

55

## Case-2: **for loop**  **if-else** condition

In [39]:
# Even number
even_list = []
for i in range(1,11):
    if i%2==0:
       even_list.append(f"even :{i}")

even_list

['even :2', 'even :4', 'even :6', 'even :8', 'even :10']

In [40]:
[(f"even :{i}") for i in range(1,11)  if i%2==0 ]

['even :2', 'even :4', 'even :6', 'even :8', 'even :10']

In [44]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

input=['hyd','ben#galuru','pune','mu#mbai']
list1 = []
[list1.append(i)  for i in input  if '#' in i]
list1

['ben#galuru', 'mu#mbai']

In [47]:
input=['hyd','ben#galuru','pune','mu#mbai']

ouput = [i for i in input  if '#' in i]
output

[0, 1, 2, 3]

In [45]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

input=['hyd','ben#galuru','pune','mu#mbai']
list1 = []
[list1.append(i)  for i in input  if '#' not in i]
list1

['hyd', 'pune']

## Case-3: for-if-else:

In [ ]:
[<if out> <if cond> else <else cond> <for loop>]

In [51]:
# Even number
list1 = []
for i in range(1,11):
    if i%2==0:
       list1.append(f"even :{i}")

    else:
        list1.append(f"odd:{i}")

list1

['odd:1',
 'even :2',
 'odd:3',
 'even :4',
 'odd:5',
 'even :6',
 'odd:7',
 'even :8',
 'odd:9',
 'even :10']

In [52]:
[f"even :{i}" if i%2==0 else f'odd:{i}'for i in range(1,11) ]

['odd:1',
 'even :2',
 'odd:3',
 'even :4',
 'odd:5',
 'even :6',
 'odd:7',
 'even :8',
 'odd:9',
 'even :10']

## Case-4: for-if-elif-else
- in list comprehension we don't have elif representation
- elif also represents as else + if
- in elif we have **elif condition** and **elif output**
- else elif_output elif condition

In [ ]:
[<if out> <if cond>      else  <elif out> <elif cond>      else <else cond>       <for loop>]

In [53]:
# >85 A grade  60-85 B grade    leass than 60 C grade

l = [45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}:A grade')

    elif i>60:
        print(f'{i}:B grade')

    else:
        print(f'{i}:C grade')

45:C grade
55:C grade
65:B grade
75:B grade
85:B grade
95:A grade

In [56]:
l = [45,55,65,75,85,95]

[ f"{i}:A grade" if i>85  else f"{i}:B grade"if i>60  else f'{i}:C grade'  for i in l  ]

['45:C grade',
 '55:C grade',
 '65:B grade',
 '75:B grade',
 '85:B grade',
 '95:A grade']