# List

- ### Basic representation

- inbuilt function
    - print
    - type
    - len
    - sum
    - max
    - min
    - sorted
    - reversed
- concatenation
- indexing
- in
- difference index and in
- slicing
- mutable and immutable
- methods

In [1]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [2]:
type(list1)

list

In [3]:
list2 = ['A','B','C']
list2

['A', 'B', 'C']

In [4]:
list3 = [1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [5]:
list4 = [10,20,True,'Hii',20.50,False,5+2J]
list4

[10, 20, True, 'Hii', 20.5, False, (5+2j)]

In [6]:

list5 = [10,10,10]
list5

[10, 10, 10]

In [7]:
list6 = [10,20,30,['Apple','Banana']]
list6

[10, 20, 30, ['Apple', 'Banana']]

In [8]:
name = 'Python'
list8 = [name]
list9 = [_]
list9

[[10, 20, 30, ['Apple', 'Banana']]]

**inbuilt function**
print
type
len
sum
max
min
sorted
reversed

### print

In [9]:
list1 = [10,20,30,40,50]
list2 = ['Apple','apple','Cherry','Banana']
list3 = [10,20,30,40,50,'Apple','apple','Cherry','Banana']

print(list1)
print(list2)
print(list3)

[10, 20, 30, 40, 50]
['Apple', 'apple', 'Cherry', 'Banana']
[10, 20, 30, 40, 50, 'Apple', 'apple', 'Cherry', 'Banana']

In [10]:
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

### len

In [11]:
print(len(list1))
print(len(list2))
print(len(list3))

5
4
9

## sum

In [12]:
sum(list1)

150

In [13]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# max
max(list1)

50

In [16]:
max(list2)

'apple'

In [17]:
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
min(list1)

10

In [19]:
min(list2)

'Apple'

In [20]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
sorted(list1)

[10, 20, 30, 40, 50]

In [22]:
sorted(list1,reverse= True)

[50, 40, 30, 20, 10]

In [23]:
sorted(list2)

['Apple', 'Banana', 'Cherry', 'apple']

In [24]:
sorted(list2,reverse = True)

['apple', 'Cherry', 'Banana', 'Apple']

In [25]:
sorted(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
reversed(list1)

In [27]:
# metho1: apply list
list(reversed(list1))

[50, 40, 30, 20, 10]

In [28]:
# method2: apply for loop

## **in the interview**
- ### Q1) sort the list without sorted function
- ### Q2) find the maximum value without maximum function
- ### Q3) find the minimum value without minimum function
- ### Q4) reverse the elements without using reversed function
- ### Q5) sum the elements wothout sum function
- ### Q6) find the second minmum and second maximum

## Concatenation

In [29]:
list1 = [1,2,3,4]
list2 = ['A','B','C']

list1+list2

[1, 2, 3, 4, 'A', 'B', 'C']

In [30]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [31]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [32]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [33]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [ ]:
list1*list1

## index

In [34]:

list1 = [10,20,30,'A','B','C']

list1[0],list1[-6]

(10, 10)

In [35]:
list1[-1],list1[5]

('C', 'C')

In [36]:
# find the positive index of 10 
      --6  -5  -4  -3  -2  -1 
list1 = [10,20,30,'A','B','C']
          0  1  2  3  4    5  
list1.index(30)

IndentationError: unexpected indent (3537428558.py, line 2)

In [37]:
print(f"the positive index of 10 is {list1.index(10)}")

the positive index of 10 is 0

In [38]:
for i in range(-1,-7,-1):
    print(f'the negative index of {list1[i]} is {i}')

the negative index of C is -1
the negative index of B is -2
the negative index of A is -3
the negative index of 30 is -4
the negative index of 20 is -5
the negative index of 10 is -6

In [39]:
for i in range(0,6,1):
    print(f'the positive index of {list1[i]} is {i}')

the positive index of 10 is 0
the positive index of 20 is 1
the positive index of 30 is 2
the positive index of A is 3
the positive index of B is 4
the positive index of C is 5

In [40]:
list1 = [[10]]
list1

[[10]]

In [41]:
list1[0]

[10]

In [42]:
list1[0][0]

10

In [43]:
list2 = [10,20]
len(list2)

2

In [44]:
list3 = [[10,20]]
len(list3)

1

In [45]:
list1 = [[10]]
list2 = [10,20]
len(list1),len(list2)

(1, 2)

In [46]:
list1 = [10,[20]]
len(list1)

2

In [47]:
list1[1]

[20]

In [48]:
list1[1][0]

20

In [49]:
list1 = [10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [50]:
list1 = ['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [51]:
# Want dragonfruit

list1 = ['A',['Apple','B',['Banana','C',['Cherry','D',['DragonFruit']]]]]
list1[1][2][2][2][0]

'DragonFruit'

In [52]:
list1 = ['Apple',['Kashmir',['India',['Cricket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [53]:
list1 = ['Orange',['Nagour',['MH',['Shivaji',['Shambhaji',['Vikky']]]]]]
list1[1][1][1][1][1][0]

'Vikky'

In [54]:
#-ve     -9 -8 -7 -6 -5 -4 -3 -2 -1
list1 = [10,20,30,40,50,60,70,80,90]
#+ve      0  1  2  3  4  5  6  7  8

In [55]:
#print(f"the positive index of 10 is {list1.index(10)}")

list1[0]

10

In [56]:
list1.index(90)

8

In [57]:
len(list1)

9

In [58]:
for i in range(-1,-10,-1):
    
    print(i,list1[i])

-1 90
-2 80
-3 70
-4 60
-5 50
-6 40
-7 30
-8 20
-9 10

In [59]:
list1[-1]   # WHEN WE GIVE INDEX THEN IT WILL SHOW VALUE

90

In [60]:
list1.index(90)   # WHEN WE GIVE value THEN IT WILL SHOW index

8

In [61]:
str1 = 'Hai hello  how are you hai kjfkdgj h'
str1[0]

'H'

In [62]:
list1 = [1,2,3,4,5,'A','B']
list1[6]

'B'

In [63]:
list1.index('B')

6

In [64]:
list1 = [10,20,[40,50,[60,70]]]
len(list1) 
len(list1[2])
list1[2][2][1]

70

In [65]:
str1 = 'python'
list1 = ['p','y','t','h','o','n']

In [66]:
for i in str1:
    print(i,end= " ")

p y t h o n

In [67]:
for i in list1:
    print(i,end = " ")

p y t h o n

### range
- when we have use with index then go for **range**
- when we have use with only elements  go for **in**

In [68]:
for i in list1:
    print(i)

p
y
t
h
o
n

### Mutable & Immutable

In [69]:
list1 = [10,20,30,40,'Apple','Banana']
list1

[10, 20, 30, 40, 'Apple', 'Banana']

In [70]:
list1[0] = 100
list1

[100, 20, 30, 40, 'Apple', 'Banana']

In [71]:
list1[5] = 80
list1

[100, 20, 30, 40, 'Apple', 80]

In [72]:
list2 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']
list2

[10, 20, [100, 500, 'Juice'], 30, 40, 'Apple', 'Banana']

In [73]:
list2[2][1] = 1000
list2

[10, 20, [100, 1000, 'Juice'], 30, 40, 'Apple', 'Banana']

In [74]:
list2 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']
list2[2][2] = 'Grapes'
list2

[10, 20, [100, 500, 'Grapes'], 30, 40, 'Apple', 'Banana']

### Slicing

In [75]:
#   -12 -11 -10 -9 -8 -7  -6 -5 -4 -  3   -2       -1 
l1 = [10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [76]:
l1[::]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [77]:
l1[::-1]

['banana', 'apple', 'E', 'D', 'C', 'B', 'A', 50, 40, 30, 20, 10]

In [78]:
l1[2:10:2]

[30, 50, 'B', 'D']

In [79]:
l1[2:10:-2]

[]

In [80]:
l1[2:-10:2]

[]

In [81]:
l1[-2:10:2]

[]

In [82]:
l1[2:-10:-2]

[]

In [83]:
l1[-2:-10:-2]

['apple', 'D', 'B', 50]

In [84]:
l1[10:2:2]

[]

In [85]:
l1[10:2:-2]

['apple', 'D', 'B', 50]

In [86]:
l1[10:-2:2]

[]

In [87]:
l1[-10:2:-2]

[]

In [88]:
l1[-10:-2:-2]()

TypeError: 'list' object is not callable

### Method
- append',
- 'clear',
- 'copy',
- 'count',
- 'extend',
- 'index',
- 'insert',
- 'pop',
- 'remove',
- 'reverse',
- 'sort'

In [89]:
list1 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']

## 1. append
- append is very very important method in entire list
- in our life we will use this method very very frequently
- appned means adding  an elements at last

In [90]:
list1.append(100)
list1

[10, 20, [100, 500, 'Juice'], 30, 40, 'Apple', 'Banana', 100]

In [91]:
l1 = [10,20,30,40]
l2 = [50,60,70,80,90]
l1.append(l2)
l1

[10, 20, 30, 40, [50, 60, 70, 80, 90]]

In [92]:
l1 = [10,20,30,40]
l1.append([50,60,70,80,90])
l1

[10, 20, 30, 40, [50, 60, 70, 80, 90]]

In [93]:
l1 = [10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [94]:
list1 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']
list1.clear()
list1

[]

In [95]:
list1 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']
list1.copy()
list1

[10, 20, [100, 500, 'Juice'], 30, 40, 'Apple', 'Banana']

In [96]:
list1 = [10,20,[100,500,'Juice'],30,40,'Apple','Banana']
lis2 = list1.copy()
list1.clear()
print(list1)
print(list2)

[]
[10, 20, [100, 500, 'Grapes'], 30, 40, 'Apple', 'Banana']

In [97]:
list1 = [10,20,[100,500,10,10,10,'Juice'],30,40,10,'Apple','Banana']

print(list1.count(10))
print(list1[2].count(10))

2
3

In [98]:
list1 = [10,20,[100,500,10,10,10,'Juice'],30,40,10,'Apple','Banana']
list1.extend()

TypeError: list.extend() takes exactly one argument (0 given)

In [99]:
l1 = [10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [100]:
l1 = [10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [101]:
l1 = [10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [102]:
l1 = [10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

- #### append method is used to store the output
    - for example i want append numbers from 1 to 5
    - l = [1,2,3,4,5]

In [103]:
l = []
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
l

[1, 2, 3, 4, 5]

In [104]:
l = []
for i in range(1,6):
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [105]:
l = []
l.append(1),l.append(2),l.append(3),l.append(4),l.append(5)
l

[1, 2, 3, 4, 5]

In [106]:
# WAP ask the user enter three random numbers
# Perform the square of the number, save those square in a last

In [107]:
import random
for i in range(3):
    num = random.randint(1,100)
    print(f"{num}={num*num}")

97=9409
82=6724
80=6400

In [108]:
l = []
for i in range(3):
    num = random.randint(1,100)
    l.append(num)
l

[3, 33, 33]

In [109]:
l = []
for i in range(3):
    num = random.randint(1,100)
    l.append(f"{num} :{num*num}")
l

['80 :6400', '64 :4096', '69 :4761']

In [110]:
# Q2). i already have a list of numbers 
# l = [10,47,53,12,27]
# from above list i want even list and odd list
# OUtput: even_list = [10,12]
# even_list = [47,53,27]

In [111]:
l = [10,47,53,12,27]

even_list = []
odd_list = []

for i in l:
    if i%2 == 0:
        even_list.append(i)

    else:
        odd_list.append(i)

print(f"even_list = {even_list}")
print(f"odd_list = {odd_list}")

even_list = [10, 12]
odd_list = [47, 53, 27]

In [112]:
# Q3) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

input = ['hyd','bengaluru','pune','mumbai']
output = []
for i in input:
    output.append(i.capitalize())
print(f"input = {input}")
print(f"output = {output}")

input = ['hyd', 'bengaluru', 'pune', 'mumbai']
output = ['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [127]:
# Q4) input = ['hyd', 'bengaluru', 'pune', 'mumbai']
#     output = ['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

input = ['hyd','bengaluru','pune','mumbai']
output = []
for i in input:
    output.append(i.capitalize())
print(f"input = {input}")
print(f"output = {output}")

input = ['hyd', 'bengaluru', 'pune', 'mumbai']
output = ['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [114]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

input=['hyd','ben#galuru','pune','mu#mbai']
list1 = []
for i in input:
    if '#' in i:
        list1.append(i)
print(f"output = {list1}")

output = ['ben#galuru', 'mu#mbai']

In [115]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

input=['hyd','ben#galuru','pune','mu#mbai']
list1 = []
for i in input:
    if '#' not in i:
        list1.append(i)
print(f"output = {list1}")

output = ['hyd', 'pune']

In [116]:
# Q7) input = 'hai how are you'
#     output=['HAI','HOW','ARE','YOU']

input = 'hai how are you'
#input.split()
output = []
for i in input.split():
    output.append(i.upper())
print(f"input = {input}")
print(f"output = {output}")

input = hai how are you
output = ['HAI', 'HOW', 'ARE', 'YOU']

In [117]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit','ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

input_str = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

emails = input_str.split(';')

fname = []
sname = []
cname = []

for email in emails:
    name, domain = email.split('@')  
    first, second = name.split('.')  
    company = domain.split('.')[0]
    
    fname.append(first)
    sname.append(second)
    cname.append(company)

print("fname =", fname)
print("sname =", sname)
print("cname =", cname)

fname = ['virat', 'rohit', 'ms']
sname = ['kohli', 'sharma', 'dhoni']
cname = ['rcb', 'mi', 'csk']

In [148]:
input = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

l = input.split(';')

fname = []
sname = []
cname = []

for i in l:
    print(i)
    id1 = i.find(',')
    id2 = i.find('@')
    id3 = i.find('.',id1+1)
    
    fname.append(i[:id1+1])
    sname.append(i[id1+1:id2])
    cname.append(i[id2+1:1+id3])

print("fname =", fname)
print("sname =", sname)
print("cname =", cname)

virat.kohli@rcb.com
rohit.sharma@mi.com
ms.dhoni@csk.com
fname = ['', '', '']
sname = ['virat.kohli', 'rohit.sharma', 'ms.dhoni']
cname = ['', '', '']

### Word frequency problem

In [1]:
# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]

input='can canner can you can not canner with you but you can the canner'
l = input.split()

l1 = []
counter = []

for i in l:
    if i not in l1:  # we are getting elements from l
        counter.append(f"{i}-{l.count(i)}")    # that element will present in l1 or not
        l1.append(i)   # s = s+1
print(l1)
counter

['can', 'canner', 'you', 'not', 'with', 'but', 'the']

['can-4', 'canner-3', 'you-3', 'not-1', 'with-1', 'but-1', 'the-1']

In [153]:
# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'

input = 'can canner can you can not canner with you but you can the canner'
print(f'input = {input}')

stopwords = ['not','you','but','with']
list1 = []

for i in input.split():
    if i not in stopwords:
        list1.append(i)  

' '.join(list1)
#print(f'output = {list1}')

input = can canner can you can not canner with you but you can the canner

'can canner can can canner can the canner'

In [120]:
# Q11) take a string find the most repeated word from string

str1 = 'can canner can you can not canner with you but you can the canner'

elements = ['can', 'canner', 'you', 'not', 'with', 'but', 'the']

In [147]:
# Q12) take a string find the longest length of the word from string

input_str = "apple banana orange watermelon pineapple"

words = input_str.split()

longest = words[0]  

for word in words:
    if len(word) > len(longest):
        longest = word

print(f"The longest word is: '{longest}'")

The longest word is: 'watermelon'

In [122]:
# Q13) take a string find the lowest length of the word from string

input_str = "apple banana orange watermelon pineapple"

words = input_str.split()

lowest = words[0]  

for word in words:
    if len(word) < len(lowest):
        lowest = word

print(f"The lowest word is: '{lowest}'")

The lowest word is: 'apple'

In [27]:
# Q14

qns = ['Who is the PM of India?','What is the capital of India?','Who is the ICT MENS captain?']

ans = ['Modi', 'Delhi', 'Rohit']


score = 0

for i in range(len(qns)):
    user_ans = input(qns[i] + ' ')  
    if user_ans.strip().lower() == ans[i].lower():  
        score += 10
        print("Correct!")
    else:
        print("Wrong! The correct answer is:", ans[i])

print("Your total score is:", score)

0
1
2

In [18]:


qns = ['who is PM of india', 'what is the capital of india', 'who is ICT MENS captain']
ans = ['Modi', 'Delhi', 'Rohit']

user_ans = ['Modi', 'Delhi', 'Virat']  # Example user answers

score = 0  # Initialize score to 0

# Loop through each question and compare answers
for i in range(len(qns)):
    if user_ans[i] == ans[i]:  # Check if the answer is correct
        score += 10  # Add 10 marks for a correct answer

print(f"You got total: {score} marks")

You got total: 20 marks

In [ ]:
I did not done Q9), Q11), Q14)

Because i have doubt

## Extend
- ### it will be owerwrite if we used extebd

In [163]:
l1= [1,2,3,4,5]
l2 = ['A','B','C','D']

l2.extend(l2)
l2

['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']

In [162]:
l1= [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [165]:
l1= [1,2,3,4,5]
l2 = ['A','B','C','D']
l2.extend(l1)
l2

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [166]:
l1= [1,2,3,4,5]
l2 = ['A','B','C','D']
l1+l2

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [169]:
l1= [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D']]

## index
- string we have index and find
- but in list we have only index
- same as string concept

In [175]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

i1 = l1.index(10)
i1

0

In [176]:
l1.index(40)

3

In [178]:
l1.index(40,4,)

8

## insert
- difference of append and index
- by using  insert we can add value according to index

In [186]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

l1.insert(2,90)
l1

[10, 20, 90, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [191]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

l1.insert(6,100)
l1

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

In [194]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

id = l1.index('Apple')

l1.insert(id+1,100)
l1

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

## pop Vs remove

In [197]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

l1.pop()
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40]

In [198]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop(5)
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [201]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove(40)
l1

[10, 20, 30, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

## del
- if we want delete any element
- pop: based on index
- remove: based on value
- del is an inbuilt function

In [206]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [213]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

print(l1)
print()
del(l1)
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

NameError: name 'l1' is not defined

In [212]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]

del l1[5]  # del([5])   both will work
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

## reverse - reversed
- reverse is a method
- reversed is an in built function

In [215]:
value
l1.reverse()
l1

[50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

## inplace
- when w perform the  operations some times the value will not overwrite
- if we see **inplace** or **inplace = True**
- this indicates the output will bw overwrite corresponding variable

In [223]:
l1= [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
list1 = reversed(l1)
list1

In [218]:
list1 = reversed(l1)
list(list1)

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

## sort - sorted

In [225]:
l1= [10,20,30,40,50,40,50]
l1.sort()
l1

[10, 20, 30, 40, 40, 50, 50]

In [226]:
l1= [10,20,30,40,50,40,50]
sorted(l1)

[10, 20, 30, 40, 40, 50, 50]

- ### inbuilt function applicable for any data type
- ### but method works with respect to data trype

- clear
- count
- append/extend/insert
- index
- reverse/reversed
- sort/sorted

In [2]:

# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

# Q7) input = 'hai how are you'
#     output=['HAI','HOW','ARE','YOU']

# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]

# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'

# Q11) take a string find the most repeated word from string

# Q12) take a string find the longest length of the word from string

# Q13) take a string find the lowest length of the word from string

# Q14) you have some qns list is there
#      also you have answers list also there
#     qns=['who is PM of india',
#       'what is the capital of india', who is ICT MENS captain]
#    ans=['Modi','Delhi','Rohit']
#    whenerver correct answer marks +10
#    print you got total

In [6]:
st = 'python narayana and python developer and python tester'
St1 = st.split()
#1 'python', tnarayana', and', 'python', 'developer', 'and', 'python', 'tester']
1
print(list({i for i in St1 if St1.count(i) > 2}))

['python']