- Hii good morning 
- how are there 
- i am happy
- i hope wiil u happy there

# **============== Loops ==============**
- loops are used to iterate the code multiple times
- function are used to reuse the code block
- that code block can be repeated multiple times
- whenever you are doing same task multiple time then think about loop
- We have two loops
    - for loop
    - while loop

# **============== Loops ==============**
- loops are used to iterate the code multiple times
- function are used to reuse the code block
- that code block can be repeated multiple times
- whenever you are doing same task multiple time then think about loop
- We have two loops
    - for loop
    - while loop

- Any loop we need three things
    - Initialization(Start point)
    - Increment  or decrement
    - condition to stop

## **for** loop

#### for <variable> in range (<number>):
 -   < write your code>

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
print(0)
print(1)
print(2)

0
1
2

In [3]:
#print(0)
#print(1)
#print(2)
for i in range(3):
    print(i)

0
1
2

In [4]:
for trump in range(3):
    print(trump)

0
1
2

In [5]:
print(0, end = " ")
print(1, end = " ")
print(2)

0 1 2

In [6]:
for i in range(3):
    print(i, end = " ")

0 1 2

### Case-1 : range(stop)
- start = 0 by default
- increment by 1
- last = stop-1

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [9]:
print("Good night")
print("Good night")
print("Good night")

Good night
Good night
Good night

In [10]:
for i in range(3):
    print("Good night")

Good night
Good night
Good night

### Case-2 : range(start, stop) :
- Suppose i wanbt to start my loop with  a particular number
- then add stasrt also inside range
- start = start
- incerement by 1
- last = stop-1
- range(10,20)
    - start=10, increment=1, stop= 20-1

In [11]:
for i in range(10,20):
    print(i, end = " ")

10 11 12 13 14 15 16 17 18 19

In [12]:
# WAP ask the user print the square first 5 number
# suare of 1 is 1
# square of 2 is 4
# square of 3 is 9
# square of 4 is 16
# square of 5 is 25


for i in range(1,6):
    print(f"the square of {i} is {i*i}")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [13]:
# WAP ask the user enter a number the prompt should happen 5 times
# and print the square of the number

for i in range(5):
    num = eval(input("Enter the Number"))
    print(f"the square of {num} is {num*num}")

Enter the Number 2

the square of 2 is 4

Enter the Number 5

the square of 5 is 25

Enter the Number 7

the square of 7 is 49

Enter the Number 9

the square of 9 is 81

Enter the Number 6

the square of 6 is 36

In [14]:
def square():
    num = eval(input("Enter the Number"))
    print(f"the square of {num} is {num*num}")

for i in range(2):
    square()

Enter the Number 5

the square of 5 is 25

Enter the Number 6

the square of 6 is 36

In [15]:
for i in range(100,103):
    num = eval(input("Enter the Number"))
    print(f"the square of {num} is {num*num}")

Enter the Number 8

the square of 8 is 64

Enter the Number 3

the square of 3 is 9

Enter the Number 9

the square of 9 is 81

### Case-3 : range(start, stop, step)

- start = start only
- step :
    - look about step sign is it positive or negative
    - positive means increment
        - Last:stop-1
    - negative means decrenment
        - last : stop+1

In [16]:
# Example1:  range (3,20,2)
# start = 3
# step =+2 increment in positive direction
# last  = 19-1 = 18
#3,5,7,8,9,11,13,15,17

for i in range(3,19,2):
    print(i, end = " ")

3 5 7 9 11 13 15 17

In [17]:
# Example1:  range (3,20,-2)
# start = 3
# step =+2 increment in negative direction
# last  = 19+1 = 20

for i in range(3,19,-2):
    print(i, end = " ")

In [18]:
# Example1:  range (3,-19,-2)
# start = 3
# step =+2 increment in negative direction
# last  = 19+1 = 20
for i in range(3,-19,-2):
    print(i, end = " ")

3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17

In [19]:
for i in range(20,-20,-10):
    print(i, end = " ")

20 10 0 -10

In [20]:
# Q4) print the 7th table

for i in range(7, 71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

In [38]:
# Q4) print the 7th table
num = eval(input("Enter the table number:"))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

Enter the table number: 7

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [22]:
# Q4) print the division of 75 
num = eval(input("Enter the table number:"))
for i in range(1,11):
    print(f"{num}%{i}={num%i}")
    if num%i==0:
        print(num)
    else:
        print("not equal == 0")

Enter the table number: 75

75%1=0
75
75%2=1
not equal == 0
75%3=0
75
75%4=3
not equal == 0
75%5=0
75
75%6=3
not equal == 0
75%7=5
not equal == 0
75%8=3
not equal == 0
75%9=3
not equal == 0
75%10=5
not equal == 0

In [23]:
num = eval(input("Which number divisiors u want:"))

for i in range(1, num+1):
    if num%i == 0:
        print(f"{i} is divisior of 75")

Which number divisiors u want: 75

1 is divisior of 75
3 is divisior of 75
5 is divisior of 75
15 is divisior of 75
25 is divisior of 75
75 is divisior of 75

In [24]:
#Q6) sum of first 10 natural number

n = 10
n*(n+1)/2

55.0

###  Summation Wrapper

In [25]:
# Summation Wrapper
# staring w initialize the sum value = 0
# inside loop we will add a simple line : summ = summ+1

# summ = 0
# for loop
#summ = summ+1

summ = 0
for i in range(0,11):
    summ = summ+i

summ

55

In [26]:
# Q7) find the sum of divisior of 75

num = 75

for i in range(1, num+1):
    if num%i == 0:
        num = num+i

num

300

In [27]:
num = eval(input("Enter the number:"))
summ = 0
for i in range(1, num+1):
    if num%i == 0:
        print(i)
        summ = summ+i        
summ

Enter the number: 1

1

1

### Count wrapper
- count means counting the success ones
- count = 0
- for loop
    - count+ = count+1

In [28]:
#Q8) find the number of divisiors of 75

num = eval(input("Enter the number which u want count of divisior:"))
count_div = 0
for i in range(1,num+1):
    if num%i ==0:
        
        print(i)
        count_div = count_div+1
count_div

Enter the number which u want count of divisior: 75

1
3
5
15
25
75

6

In [29]:
# Q9) ask the get 5 random numbers
# means you need a get a random number inside for loop
# the loop should run 5 times
# now perform the even and odd operation
# 1} even count 2) sum of even number  3) odd count  4) su of odd

In [30]:
# Even_count = 0
# odd_count = 0
# even_sum = 0
# odd_sum = 0

In [31]:
import random
even_count,even_sum = 0,0
odd_count,odd_sum = 0,0

for i in range(5):
    num = random.randint(1,100)
    if num%2 == 0:
        print(f"{num} is an even")
        even_count = even_count+1
        even_sum = even_sum+num

    else:
        print(f"{num} is and odd")
        odd_count = odd_count+1
        odd_sum = odd_sum+num

print(f"even count is {even_count}")
print(f"even sum is {even_sum}")
print(f"odd count is {odd_count}")
print(f"odd sum is {odd_sum}")

24 is an even
47 is and odd
10 is an even
24 is an even
66 is an even
even count is 4
even sum is 124
odd count is 1
odd sum is 47

In [32]:
# Q10) Game Programm
# User enter one number
# another number will generate randomly
# if both numbera are equal then you won
# ohterwise you lost

# for loop
# num1 = random
# num2 = user keyword
# if num1 == num2
    # print(won)

#else
#print(lost)

In [33]:
for i in range(3):
    num1 = random.randint(1,10)
    num2 = eval(input("Enter the number"))

    if num1 == num2:
        print("won")

    else:
        print("lost")

Enter the number 9

lost

Enter the number 3

lost

Enter the number 6

lost

In [34]:
# Case1: we apply the break === completed
# Case2: whenever the user enter the worth answer
    # better luck next time
    # how many chances you left
# case3: if you lost all the Chances

    # print try after 24 hrs

### **in operator**
- in for loop we have range and in operator
- range is math realative word whenever we use range it excepst a number inside range
- in operator excepts a string

In [5]:
for i in range(1,'python'):
    print(i, end =" ")

TypeError: 'str' object cannot be interpreted as an integer

In [8]:
for i in "Python":
    print(i, end = " ")

P y t h o n

In [9]:
for i in "Bhupendra Singh":
    print(i, end = " ")

B h u p e n d r a   S i n g h

In [11]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

True

In [17]:
i in 'python'

True

### "ASCII"
- American Standard code for information interchange

In [18]:
'A' == 65

False

In [19]:
'a'== 97

False

In [20]:
'A'>'a'   # 65>97

False

- How to convert char to number
- How to convert number to char

#### chr-ord

In [81]:
# chr('a') ,chr(97)
# ord('a') ,ord(97)

In [26]:
chr(65)

'A'

In [27]:
ord('A')

65

In [29]:
chr(97)

'a'

In [30]:
ord('a')

97

- so **ord** converting char to number
- **chr** converting number to char

In [34]:
# WAP ask the user get the ASCII number from a to z
# print :A:65
# B: 66

ord(i)

104

In [35]:
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(ord(i))

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [51]:
for i in range(65,91):
    print(f"{i} : {chr(i)}")

65 : A
66 : B
67 : C
68 : D
69 : E
70 : F
71 : G
72 : H
73 : I
74 : J
75 : K
76 : L
77 : M
78 : N
79 : O
80 : P
81 : Q
82 : R
83 : S
84 : T
85 : U
86 : V
87 : W
88 : X
89 : Y
90 : Z

In [48]:
for i in range(97,123):
    print(f"{i} : {chr(i)}")

97 : a
98 : b
99 : c
100 : d
101 : e
102 : f
103 : g
104 : h
105 : i
106 : j
107 : k
108 : l
109 : m
110 : n
111 : o
112 : p
113 : q
114 : r
115 : s
116 : t
117 : u
118 : v
119 : w
120 : x
121 : y
122 : z

### Package : string

In [ ]:
import  <package name>
dir(<Package name>)
in that A to Z will be given by one method tell me that

In [52]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [54]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [55]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [56]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [58]:
string.digits

'0123456789'

In [60]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [61]:
for i in string.ascii_lowercase:
    print(f"{i}:{ord(i)}", end = " ")

a:97 b:98 c:99 d:100 e:101 f:102 g:103 h:104 i:105 j:106 k:107 l:108 m:109 n:110 o:111 p:112 q:113 r:114 s:115 t:116 u:117 v:118 w:119 x:120 y:121 z:122

In [62]:
for i in string.ascii_uppercase:
    print(f"{i}:{ord(i)}", end = " ")

A:65 B:66 C:67 D:68 E:69 F:70 G:71 H:72 I:73 J:74 K:75 L:76 M:77 N:78 O:79 P:80 Q:81 R:82 S:83 T:84 U:85 V:86 W:87 X:88 Y:89 Z:90

In [64]:
for i in string.punctuation:
    print(f"{i}:{ord(i)}", end = " ")

!:33 ":34 #:35 $:36 %:37 &:38 ':39 (:40 ):41 *:42 +:43 ,:44 -:45 .:46 /:47 ::58 ;:59 <:60 =:61 >:62 ?:63 @:64 [:91 \:92 ]:93 ^:94 _:95 `:96 {:123 |:124 }:125 ~:126

In [67]:
for i in range(33,127):
    print(f"{i}:{chr(i)}", end = " ")

33:! 34:" 35:# 36:$ 37:% 38:& 39:' 40:( 41:) 42:* 43:+ 44:, 45:- 46:. 47:/ 48:0 49:1 50:2 51:3 52:4 53:5 54:6 55:7 56:8 57:9 58:: 59:; 60:< 61:= 62:> 63:? 64:@ 65:A 66:B 67:C 68:D 69:E 70:F 71:G 72:H 73:I 74:J 75:K 76:L 77:M 78:N 79:O 80:P 81:Q 82:R 83:S 84:T 85:U 86:V 87:W 88:X 89:Y 90:Z 91:[ 92:\ 93:] 94:^ 95:_ 96:` 97:a 98:b 99:c 100:d 101:e 102:f 103:g 104:h 105:i 106:j 107:k 108:l 109:m 110:n 111:o 112:p 113:q 114:r 115:s 116:t 117:u 118:v 119:w 120:x 121:y 122:z 123:{ 124:| 125:} 126:~

In [68]:
for i in range(0,33):
    print(f"{i}:{chr(i)}", end = " ")

0:  1: 2: 3: 4: 5: 6: 7: 8 9:	 10:
 14: 15: 16: 17: 18: 19: 20: 21: 22: 23: 24: 25: 26: 27: 28: 29: 30: 31: 32:

In [75]:
for i in range(3077,3150):
    print(f"{i}:{chr(i)}", end = " ")

3077:అ 3078:ఆ 3079:ఇ 3080:ఈ 3081:ఉ 3082:ఊ 3083:ఋ 3084:ఌ 3085:఍ 3086:ఎ 3087:ఏ 3088:ఐ 3089:఑ 3090:ఒ 3091:ఓ 3092:ఔ 3093:క 3094:ఖ 3095:గ 3096:ఘ 3097:ఙ 3098:చ 3099:ఛ 3100:జ 3101:ఝ 3102:ఞ 3103:ట 3104:ఠ 3105:డ 3106:ఢ 3107:ణ 3108:త 3109:థ 3110:ద 3111:ధ 3112:న 3113:఩ 3114:ప 3115:ఫ 3116:బ 3117:భ 3118:మ 3119:య 3120:ర 3121:ఱ 3122:ల 3123:ళ 3124:ఴ 3125:వ 3126:శ 3127:ష 3128:స 3129:హ 3130:఺ 3131:఻ 3132:఼ 3133:ఽ 3134:ా 3135:ి 3136:ీ 3137:ు 3138:ూ 3139:ృ 3140:ౄ 3141:౅ 3142:ె 3143:ే 3144:ై 3145:౉ 3146:ొ 3147:ో 3148:ౌ 3149:్

In [76]:
for i in range(2693,27):
    print(f"{i}:{chr(i)}", end = " ")

2693:અ 2694:આ 2695:ઇ 2696:ઈ 2697:ઉ 2698:ઊ 2699:ઋ 2700:ઌ 2701:ઍ 2702:઎ 2703:એ 2704:ઐ 2705:ઑ 2706:઒ 2707:ઓ 2708:ઔ 2709:ક 2710:ખ 2711:ગ 2712:ઘ 2713:ઙ 2714:ચ 2715:છ 2716:જ 2717:ઝ 2718:ઞ 2719:ટ 2720:ઠ 2721:ડ 2722:ઢ 2723:ણ 2724:ત 2725:થ 2726:દ 2727:ધ 2728:ન 2729:઩ 2730:પ 2731:ફ 2732:બ 2733:ભ 2734:મ 2735:ય 2736:ર 2737:઱ 2738:લ 2739:ળ 2740:઴ 2741:વ 2742:શ 2743:ષ 2744:સ 2745:હ 2746:઺ 2747:઻ 2748:઼ 2749:ઽ

In [80]:
for i in range(2309,2362):
    print(f"{i}:{chr(i)}", end = " ")

2309:अ 2310:आ 2311:इ 2312:ई 2313:उ 2314:ऊ 2315:ऋ 2316:ऌ 2317:ऍ 2318:ऎ 2319:ए 2320:ऐ 2321:ऑ 2322:ऒ 2323:ओ 2324:औ 2325:क 2326:ख 2327:ग 2328:घ 2329:ङ 2330:च 2331:छ 2332:ज 2333:झ 2334:ञ 2335:ट 2336:ठ 2337:ड 2338:ढ 2339:ण 2340:त 2341:थ 2342:द 2343:ध 2344:न 2345:ऩ 2346:प 2347:फ 2348:ब 2349:भ 2350:म 2351:य 2352:र 2353:ऱ 2354:ल 2355:ळ 2356:ऴ 2357:व 2358:श 2359:ष 2360:स 2361:ह

### Pyramid Code

In [96]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i, end = "")

    print()

1
22
333
4444
55555

In [97]:
n = 4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j+i-1, end = "")

    print()

1
23
345
4567